@model IEnumerable<Checkers.BL.Models.Game>

@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ml-2 mr-2 mt-2">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table id="games" class="data-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Winner)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Winner)
                    </td>
                    @* <td class="text-right">
                        <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-success btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-success btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td> *@
                </tr>
            }
        </tbody>
    </table>
</div>

