@model IEnumerable<Checkers.BL.Models.User>

@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ml-2 mr-2 mt-2">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table id="users" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td class="text-right">
                        <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-success btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-success btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript" class="init">
    $.noConflict();

    jQuery(document).ready(function ($) {

        $(document).ready(function () {
            $('#users').DataTable({
                "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]], "columnDefs": [
                    { "searchable": false, "targets": [3] },
                    { "orderable": false, "targets": [3] }
                ]

            });
        });

    });

</script>